 /* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FULL PAGE BLURRED BACKGROUND */
 .blur-bg {
  position: fixed;
  inset: 0;

  background: linear-gradient(
    135deg,
    white,   /* very light coral */
     #464be8 ,   /* soft coral */
    #ffffff    /* fade to white */
  );

  filter: blur(18px);
  transform: scale(1.1);
  z-index: -1;
}


/* PAGE TITLE */
.page-title {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #464be8;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 28px;
  font-weight: bold;
  z-index: 10;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* CONTENT SECTION */
.about-academy {
  position: relative;
  padding: 160px 20px 60px;
  text-align: center;
}

/* INTRO */
.about-intro {
  color: #fff;
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 1.6;
}

/* CARDS */
.about-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(255, 255, 255, 0.95);
  width: 280px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  color: #464be8;
  margin-bottom: 10px;
}

.card p {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color:#464be8;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 55px;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  color:aqua;
}
