body {
    margin: 0;
    background-color:whitesmoke;
}

 .navbar {
   background-color:aqua;
   height: 80px;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px 25px;
   box-sizing: border-box;
 }

 .navbar ul {
   list-style: none;
   display: flex;
   gap:55px;
   margin: 0;
   padding: 0;
   font-size: 30px;
  color: #fff8f7;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
 }

 .navbar ul li a {
   color:black;
   text-decoration: none;
   font-weight: 600;
 }

 .navbar a:hover {
   color: #422801;
 }

 .h1 {
    color: black;
    font-size: medium;
 }